


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leaderboard Ranking</title>
</head>
<body>
    <div class="table-data">
<h2>List of All Ranked Matches</h2>
    <table border="1">
        <tr>

            <th>Match ID       | </th>
            <th>Opening       | </th>
            <th>White Player ID   |</th>
            <th>Black Player ID   |</th>
            <th>White Player Rating   |</th>
        
        </tr>
        
        <%
        if(index.length!=0){
        var i=1;
        index.forEach(function(data){
        %>
        <tr>
            <td><%=data.acc_accountid %></td>
            <td><%=data.acc_dateofbirth %></td>
            <td><%=data.acc_email %></td>
            <td><%=data.acc_rating %></td>
            <td><%=data.acc_balance %></td>
           

            
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>