
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>Index</th>
            <th>User ID</th>
            <th>Email Address</th>
            <th>Rating</th>
            <th>Acct Balance</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        if(index.length!=0){
        var i=1;
        index.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.acc_accountid %></td>
            <td><%=data.acc_email %></td>
            <td><%=data.acc_rating %></td>
            <td><%=data.acc_balance %></td>
            <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>